<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>org.sil.ukelele.keyboardlayout.tarmakcurl(dh)iso–layout1a</string>
	<key>CFBundleName</key>
	<string>Tarmak Curl(DH) ISO – Layout 1a</string>
	<key>CFBundleVersion</key>
	<string></string>
	<key>KLInfo_Tarmak Curl(DH) ISO – Layout 1a</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<false/>
		<key>TISIconIsTemplate</key>
		<false/>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.tarmakcurl(dh)iso–layout1a.tarmakcurl(dh)iso–layout1a</string>
		<key>TISIntendedLanguage</key>
		<string>en</string>
	</dict>
</dict>
</plist>
